@import "tailwindcss";
@import "primeicons/primeicons.css";

@theme {
    --color-main-100: oklch(0.7412 0.0586 243.81);
	--color-main-500: oklch(0.5575 0.0993 245.19);
	--color-main-700: oklch(0.463 0.0865 245.51);
}

html,
body {
	padding: 0;
	margin: 0;
	border: none;
	height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
	background-color: #FAFAFA;
}

.p-datatable-thead > tr > th {
  background-color: #8CB0CE !important;
  color: white !important;
}


.p-datatable-tbody > tr:hover > td {
  background-color: #8CB0CE; 
  color: #ffffff; 
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.p-button.p-component {
    background-color: var(--color-main-700) !important; 
    color: white !important;                    
    border: 2px solid var(--color-main-100) !important;
}


.p-button.p-component:hover {
    background-color: var(--color-main-500) !important; 
    color: white !important;
}

.p-button.p-component .p-button-label,
.p-button.p-component .p-button-icon {
    color: white !important;
}

.p-dialog.p-component {
    border: 2px solid var(--color-main-700);
}

.p-step-active .p-step-title{
    color: var(--color-main-500) !important;
}

.p-step-active .p-step-title{
    color: var(--color-main-500) !important;
}

.p-step-active .p-step-number {
    border-color: var(--color-main-500) !important;
    color: var(--color-main-500) !important;
}

.p-step:has(~ .p-step-active) .p-stepper-separator {
    background: var(--color-main-500) !important;
}

.p-inputtext:enabled:focus{
    border-color: var(--color-main-500) !important;
}

.p-inputtext:enabled:focus+label{
    color: var(--color-main-500) !important;
}

.p-floatlabel:has(input:focus) label, .p-floatlabel:has(input:-webkit-autofill) label, .p-floatlabel:has(textarea:focus) label, .p-floatlabel:has(.p-inputwrapper-focus) label{
    color: var(--color-main-500) !important;
}

.p-select:not(.p-disabled).p-focus{
    border-color: var(--color-main-500) !important;
}

.p-tabpanels{
    background: none !important;
}

.p-tablist{
    background: none !important;
}

.p-tab-active{
    color: var(--color-main-500) !important;
    border-color: var(--color-main-500)  !important;
}

.p-tablist-active-bar{
    background: var(--color-main-500) !important;
}