<p-dialog header="Benefícios" (onHide)="closeModalBeneficios()" [modal]="true" [(visible)]="isModalBeneficios" [style]="{ width: '100rem' }" [breakpoints]="{ '1499px': '80vw', '575px': '90vw' }" [maximizable]="true">
        <div class="card flex justify-center p-10">
            <main class="w-full">
                    <div class="w-full">
                        <div class="w-full p-4 bg-main-500 text-center text-white text-1xl font-semibold">Benefícios</div>
                    </div>
                    <div class="card">
                        <p-table [value]="beneficios || []" sortField="price" [sortOrder]="-1" [scrollable]="true" scrollHeight="60vh"  [tableStyle]="{ 'min-width': '60rem' }">
                            <ng-template #header class="bg-main-100">
                                <tr>
                                    <th pSortableColumn="nomeBeneficio" style="width:50%">
                                        <div class="flex items-center gap-2">
                                            Benefício
                                            <p-sortIcon field="nomeBeneficio" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="valorBeneficio" style="width:50%">
                                        <div class="flex items-center gap-2">
                                            Valor
                                            <p-sortIcon field="valorBeneficio" />
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-beneficio>
                                <tr>
                                    <td>{{ beneficio.nomeBeneficio }}</td>
                                    <td>{{ beneficio.valorBeneficio }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="w-full">
                    </div>
                </main>
        </div>
</p-dialog>
<p-dialog header="Horas Extras" (onHide)="closeModalHorasExtras()" [modal]="true" [(visible)]="isModalHorasExtras" [style]="{ width: '100rem' }" [breakpoints]="{ '1499px': '80vw', '575px': '90vw' }" [maximizable]="true">
        <div class="card flex justify-center p-10">
            <main class="w-full">
                    <div class="w-full">
                        <div class="w-full p-4 bg-main-500 text-center text-white text-1xl font-semibold">Horas Extras</div>
                    </div>
                    <div class="card">
                        <p-table [value]="horasExtras || []" sortField="price" [sortOrder]="-1" [scrollable]="true" scrollHeight="60vh"  [tableStyle]="{ 'min-width': '60rem' }">
                            <ng-template #header class="bg-main-100">
                                <tr>
                                    <th pSortableColumn="dataInicio" style="width:25%">
                                        <div class="flex items-center gap-2">
                                            Inicio
                                            <p-sortIcon field="dataInicio" />
                                        </div>
                                    </th>
                                    <th pSortableColumn="dataFim" style="width:25%">
                                        <div class="flex items-center gap-2">
                                            Fim
                                            <p-sortIcon field="dataFim" />
                                        </div>
                                    </th>
                                    <th style="width:25%">
                                        <div class="flex items-center gap-2">
                                            Total
                                        </div>
                                    </th>
                                    <th style="width:25%">
                                        <div class="flex items-center gap-2">
                                            Valor
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-horasExtra>
                                <tr>
                                    <td>{{ horasExtra.dataInicio | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                    <td>{{ horasExtra.dataFim | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                                    <td>{{ getTotalHorasExtras(horasExtra.dataFim,horasExtra.dataInicio) }}</td>
                                    <td> <p-tag [value]="'+R$' + getValorHorasExtras(horasExtra.dataFim,horasExtra.dataInicio,horasExtra.valorHora)" severity="success"></p-tag></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="w-full">
                    </div>
                </main>
        </div>
</p-dialog>
<main>
    <div class="flex flex-row space-x-2">
        <h1 class="text-2xl text-main-500">Filtros</h1>
        <p-button label="Limpar" size="small" (click)="limparSearch()" icon="pi pi-filter-slash" iconPos="right"/> 
    </div>
    <form [formGroup]="searchForm" class="flex flex-row items-center center mt-1 space-x-2">
        <div class="w-70">
            <p-floatlabel variant="on" styleClass="w-full">
                <p-datepicker inputId="on_label" class="w-full" showIcon iconDisplay="input" dateFormat="mm/yy" view="month" [readonlyInput]="true" appendTo="body" formControlName="data" fluid/>
                <label for="on_label">Data</label>
            </p-floatlabel>
        </div>
        <p-floatlabel class="w-70" variant="on">
            <p-multiselect id="on_label"  [options]="funcionarios" optionLabel="nome" optionValue="id" class="w-full" formControlName="funcionarios" />
            <label for="on_label">Funcionários</label>
        </p-floatlabel>
        <div class="w-50">
            <p-floatlabel variant="on" styleClass="w-full">
                <p-select inputId="on_label" [options]="cargos" optionLabel="name" optionValue="value" class="w-full" formControlName="tipoFuncionario" />
                <label for="on_label">Cargo</label>
            </p-floatlabel>
        </div>
        <div class="w-50">
            <p-floatlabel variant="on" styleClass="w-full">
                <p-select inputId="on_label" [options]="status" optionLabel="label" optionValue="value" class="w-full" formControlName="status" />
                <label for="on_label">Status</label>
            </p-floatlabel>
        </div>
    </form>
</main>
<main class="w-full mt-5">
    <div class="w-full">
        <div class="w-full p-4 bg-main-500 text-center text-white text-1xl font-semibold">Folha Pagamento</div>
    </div>
    <div class="card">
        <p-table [value]="folhaDePagamentos" [(selection)]="selectedItens" dataKey="id" sortField="price" [sortOrder]="-1" [scrollable]="true" scrollHeight="60vh"  [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template #header class="bg-main-100">
                <tr>
                    <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                    <th pSortableColumn="usuarioFuncionario" style="min-width:15rem">
                        <div class="flex items-center gap-2">
                            Funcionário
                            <p-sortIcon field="usuarioFuncionario" />
                        </div>
                    </th>
                    <th pSortableColumn="data" style="min-width:12rem">
                        <div class="flex items-center gap-2">
                            Data
                            <p-sortIcon field="data" />
                        </div>
                    </th>
                    <th pSortableColumn="status" style="min-width:12rem">
                        <div class="flex items-center gap-2">
                            Status
                            <p-sortIcon field="status" />
                        </div>
                    </th>
                    <th pSortableColumn="inss" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            INSS
                            <p-sortIcon field="inss" />
                        </div>
                    </th>
                    <th pSortableColumn="fgts" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            FGTS
                            <p-sortIcon field="fgts" />
                        </div>
                    </th>
                    <th pSortableColumn="irrf" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            IRRF
                            <p-sortIcon field="irrf" />
                        </div>
                    </th>
                    <th pSortableColumn="totalValorImposto" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            Valor Impostos
                            <p-sortIcon field="totalValorImposto" />
                        </div>
                    </th>
                    <th pSortableColumn="totalValorBeneficios" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            Valor Benefícios
                            <p-sortIcon field="totalValorBeneficios" />
                        </div>
                    </th>
                    <th style="width:5%">
                        <div class="flex items-center gap-2">
                            Benefícios
                        </div>
                    </th>
                    <th pSortableColumn="totalHorasExtras" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            Total Horas Extras
                            <p-sortIcon field="totalHorasExtras" />
                        </div>
                    </th>
                    <th pSortableColumn="totalValorHorasExtras" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            Valor Horas Extras
                            <p-sortIcon field="totalValorHorasExtras" />
                        </div>
                    </th>
                    <th style="width:5%">
                        <div class="flex items-center gap-2">
                            Horas Extras
                        </div>
                    </th>
                    <th pSortableColumn="salarioBruto" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            Salario Bruto
                            <p-sortIcon field="salarioBruto" />
                        </div>
                    </th>
                    <th pSortableColumn="salarioLiquido" style="min-width:10rem">
                        <div class="flex items-center gap-2">
                            Total
                            <p-sortIcon field="salarioLiquido" />
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-folhaDePagamento>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="folhaDePagamento" />
                    </td>
                    <td><p-avatar [label]="getAvatar(folhaDePagamento.usuarioFuncionario)" class="mr-2" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" shape="circle"/>{{ folhaDePagamento.usuarioFuncionario }}</td>
                    <td>{{ folhaDePagamento.data | date:'MMM/yyyy' }}</td>
                    <td><p-tag [value]="folhaDePagamento.status" [severity]="getServityStatus(folhaDePagamento.status)"></p-tag></td>
                    <td><p-tag [value]="'-R$' + folhaDePagamento.inss" severity="danger"></p-tag></td>
                    <td><p-tag [value]="'-R$' + folhaDePagamento.fgts" severity="danger"></p-tag></td>
                    <td><p-tag [value]="'-R$' + folhaDePagamento.irrf" severity="danger"></p-tag></td>
                    <td><p-tag [value]="'-R$' + folhaDePagamento.totalValorImposto" severity="danger"></p-tag></td>
                    <td><p-tag [value]="'+R$' + folhaDePagamento.totalValorBeneficios" severity="success"></p-tag></td>
                    <td><p-button *ngIf="folhaDePagamento.totalValorBeneficios > 0" icon="pi pi-list" [rounded]="true" styleClass="p-list" (onClick)="buscarBeneficios(folhaDePagamento.id)" /></td>
                    <td>{{ getHoras(folhaDePagamento.totalHorasExtras) }}</td>
                    <td><p-tag [value]="'+R$' + folhaDePagamento.totalValorHorasExtras" severity="success"></p-tag></td>
                    <td><p-button *ngIf="folhaDePagamento.totalValorHorasExtras > 0" icon="pi pi-list" [rounded]="true" styleClass="p-list" (onClick)="buscarHorasExtras(folhaDePagamento.id)" /></td>
                    <td>R${{ folhaDePagamento.salarioBruto }}</td>
                    <td>R${{ folhaDePagamento.salarioLiquido }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="w-full">
        <div class="w-full p-4 bg-main-500">
            <div class="flex flex-row gap-x-4">
                <div class="card flex justify-center gap-2">
                    <p-confirmpopup #cp>
                        <ng-template #headless let-message>
                            <div class="rounded p-4">
                                <span>{{ message.message }}</span>
                                <div class="flex items-center gap-2 mt-4">
                                    <p-button (onClick)="cp.onAccept()" label="Gerar/Atualizar" size="small" />
                                    <p-button (onClick)="cp.onReject()" label="Cancelar" styleClass="p-danger" size="small"/>
                                </div>
                            </div>
                        </ng-template>
                    </p-confirmpopup>
                    <p-button label="Gerar/Atualizar" icon="pi pi-sync" (onClick)="gerar($event)" />
                </div>
                <p-button label="Pesquisar" icon="pi pi-search" (onClick)="buscar()"/> 
                <div class="card flex justify-center gap-2">
                    <p-confirmpopup #cp>
                        <ng-template #headless let-message>
                            <div class="rounded p-4">
                                <span>{{ message.message }}</span>
                                <div class="flex items-center gap-2 mt-4">
                                    <p-button (onClick)="cp.onAccept()" label="Pagar" size="small" />
                                    <p-button (onClick)="cp.onReject()" label="Cancelar" styleClass="p-danger" size="small"/>
                                </div>
                            </div>
                        </ng-template>
                    </p-confirmpopup>
                    <p-button label="Pagar" icon="pi pi-wallet" (onClick)="pagar($event)" />
                </div>
                <div class="card flex justify-center">
                    <p-button label="Exportar" icon="pi pi-file-export" (onClick)="toggle($event)"/>
                    <p-popover #op>
                        <div class="flex flex-col gap-4 rounded">
                            <div>
                                <span class="font-medium block mb-2">Deseja exportar para qual tipo de arquivo?</span>
                                <form [formGroup]="exportarForm">
                                    <div class="flex items-center">
                                        <p-checkbox inputId="horasExtras" binary="true" formControlName="horasExtras" />
                                        <label for="horasExtras" class="ml-2"> Exibir horas extras </label>
                                    </div>
                                    <div class="flex items-center">
                                        <p-checkbox inputId="beneficios" binary="true" formControlName="beneficios" />
                                        <label for="beneficios" class="ml-2"> Exibir benefícios </label>
                                    </div>
                                </form>
                                <div class="flex items-center gap-2 mt-4">
                                    <p-button (onClick)="exportar('excel')" icon="pi pi-file-excel" label="Excel" size="small" />
                                    <p-button (onClick)="exportar('pdf')" icon="pi pi-file-pdf" label="PDF" styleClass="p-danger" size="small"/>
                                </div>
                            </div>
                        </div>
                    </p-popover>
                </div>
            </div>
        </div>
    </div>
</main>
